table{
  border-spacing: 0px;
  border-collapse: collapse;
  margin:20px 0 0 0;
}

th {
  font-weight: bold;
  padding: 8px 2px;
  border: 2px solid #245F93;
  background: #de411b;
  color: #FFF;
  text-align: center;
}

td {
  vertical-align: top;
  padding: 2px;
  border: 2px solid #de411b;
  background: #FFF;
  text-align: center;
}

td.desc {
  text-align: left;
}
