 body {
    padding-top: 60px;
    padding-bottom: 40px;
 }

h1 {
	padding: 8px 10px;
	color: #FFF;
	border-radius: 4px;
	margin-bottom: 30px;
}

.img-logo {
	max-width: 400px;
	margin-bottom:40px;
	margin-top: 30px;
}

.red {
	background-color: #de411b;
}

.orange{
    background-color: #de411b !Important;
    padding: 5px
}

#contacts-table tbody.empty:after {
    content: "There are none contacts";
}

a.active_sort {
    color: orange;
}

#version {
    font-size:0.8em;
    color: gray;
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
	margin: 5px 5px 5px ;
}

.control-group-custom{
    width: 50%;
    float: left;

}