@font-face {
	font-family: "endava-font";
	src: url("../external/fonts/robotocondensed-bold-webfont.woff2") format('woff');
}

body {
    padding-bottom: 40px;
 }

h1 {
	padding: 8px 10px;
	color: #de411b;
	border-radius: 4px;
	margin-bottom: 30px;
	font-family: 'endava-font', sans-serif;
	font-weight: 900;
}

.typewriter h2{
	font-family: 'endava-font', sans-serif;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
}

.typewriter h2:before {
	content: " ";
	width: 60px;
	display: block;
	margin-bottom: 20px;
	height: 5px;
	background-color: #de411b;
}

.typewriter h1 {
	overflow: hidden; 
	margin: 0 auto 40px;
	font-size: 4.4em;
	letter-spacing: -.02em;
	padding: 0;
	text-transform: uppercase;
  white-space: nowrap;
  line-height: initial;
  animation: 
	  typing .5s steps(200, end),
	  blink-caret .75s step-end infinite;
  }

      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
        }
        
        /* The typewriter cursor effect */
        @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
        }

.img-logo {
	max-width: 400px;
	margin-bottom:40px;
	margin-top: 30px;
}

.red {
	background-color: #de411b;
}

.orange{
    background-color: #de411b !Important;
    padding: 5px
}

#contacts-table tbody.empty:after {
    content: "There are none contacts";
}

a.active_sort {
    color: orange;
}

#version {
    font-size:0.8em;
    color: gray;
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
	margin: 5px 5px 5px ;
}

.control-group-custom{
    width: 50%;
    float: left;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0 auto;
  }
  
  /* Modal Content */
  .modal-content {
    border-bottom: solid 2px #de411b;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #de411b ;
  }

  .modal-header h3{
    color: white;
  }
  
  .modal-body {
    padding: 20px 0 15px 20px;
    border-bottom: 3px solid  #de411b;      
}


#cssMenu {
  width: auto;
  zoom: 1;
  margin-bottom: 24px;
}
#cssMenu, #cssMenu > ul {
  background: url(../images/highlight-bg.png) repeat;
  padding-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#cssMenu > ul {
  background: url(../images/menu-bg.png) repeat;
  margin: 0;
  padding: 0;
  position: relative;
}

#cssMenu > ul > li {
  float: left;
  position: relative;
}
#cssMenu > ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}


#cssMenu:before, #cssMenu:after, #cssMenu > ul:before, #cssMenu > ul:after {
  content: "";
  display: table;
}
#cssMenu:after, #cssMenu > ul:after {
  clear: both;
}
#cssMenu > ul > li.active > a, #cssMenu > ul > li > a:active {
  background: url(../images/hover.png) repeat;
}
#cssMenu > ul > li > a {
  padding: 23px 26px;
  display: block;
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #0d0d0d;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  line-height: 18px;
}

#cssMenu > ul > li:hover > a {
  background: url(../images/highlight-bg.png) repeat;
  text-shadow: 0 -1px 0 #97321f;
  text-shadow: 0 -1px 0 rgba(122, 42, 26, 0.64);
}

  